{% macro render_field(field)%}
<!--# here we are using macro as the name of our macro -->
<div class="field">
    {% if field.errors %}
    {% for error in field.errors %}
    <div class="error col-md-3">
        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                {{ error }} <!-- Put name validation error messages here -->
                            </span>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                {{ field(placeholder = field.label.text) }}
                <!--its the label we put to our fileds in the form.py module-->
            </div>
        </div>
    </div>
</div>
{% endmacro %}